@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255),
        rgb(221, 233, 250)
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

main {
    width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 25px auto;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    margin-bottom: 20px;
}

ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

ul li a:hover {
    text-decoration: underline;
}
