@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255),
        rgb(221, 233, 250)
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    margin: 25px auto;
    font-size: 2rem;
}

main {
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    flex-wrap: wrap;
}

section {
    flex-basis: 50%;
    margin: 25px auto;
}

section h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5rem;
}

ol {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

ol li {
    margin-bottom: 20px;
}

ol li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

ol li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    section {
        flex-basis: 100%;
    }
}
