@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    gap: 25px;
}

.card-1 {
    background-color: hsl(263, 55%, 52%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0;
    grid-column: span 2;
}

.card-2 {
    background-color: hsl(217, 19%, 35%);
}

.card-3 {
    background-color: hsl(0, 0%, 100%);
    grid-row: span 2;
}

.card-4 {
    background-color: hsl(219, 29%, 14%);
}

.card-5 {
    background-color: hsl(0, 0%, 100%);
    grid-column: span 2;
}

.box {
    box-shadow: 5px 5px 15px hsla(0, 0%, 81%, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 30px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.info img {
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    font-weight: 500;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}

.card-3 .name,
.card-5 .name {
    color: hsl(217, 19%, 35%);
}

.verified {
    color: hsla(0, 0%, 100%, 0.5);
}

.card-3 .verified,
.card-5 .verified {
    color: rgba(65, 93, 139, 0.7);
}

.title {
    flex: 1;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.card-3 .title,
.card-5 .title {
    color: hsl(217, 19%, 35%);
}

q {
    color: hsla(0, 0%, 100%, 0.7);
    line-height: 1.4;
}

.card-3 q,
.card-5 q {
    color: hsla(217, 19%, 35%, 0.7);
}
