@media screen and (max-width: 660px) {
    body {
        align-items: flex-start;
    }

    .main {
        margin: 30px 15px;
    }
    .card {
        transform: translateY(0);
    }
}

@media screen and (max-width: 375px) {
    main h1 {
        line-height: 1;
        font-size: 2rem;
    }

    main p {
        font-size: 14px;
        line-height: 1;
    }
}
