* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Overpass", sans-serif;
  --fs: 15px;
  /* Colors Primary*/

  --orange: hsl(25, 97%, 53%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

html {
  font-family: var(--ff);
  font-size: var(--fs);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--veryDarkBlue);
}
main {
  width: 80%;
  max-width: 375px;
}

h1,
button {
  color: var(--white);
}

p,
span {
  color: var(--lightGrey);
}

img {
  display: block;
  max-width: 100%;
}

.circle {
  border-radius: 100%;
  background-color: hsla(213, 19%, 28%, 0.5);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */

.card {
  background-color: var(--darkBlue);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

/* FORM */

.form > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.iconWrapper {
  padding: 0.85rem;
  width: 40px;
  height: 40px;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.description {
  line-height: 1.5;
  font-weight: 400;
}

.ratingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rateWrapper {
  width: 50px;
  height: 50px;

  overflow: hidden;
}

.rateRadio {
  display: none;
}

.rateNumber {
  height: 100%;
  color: var(--mediumGrey);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rateNumber:hover {
  background-color: var(--orange);
  color: var(--white);
}

.rateRadio:checked + .rateNumber {
  background-color: var(--lightGrey);
  color: var(--white);
}

/* Button */

/* footer */

.attribution {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}
