* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff: "Overpass", sans-serif;
  --fs: 15px;
  /* Colors Primary*/

  --orange: hsl(25, 97%, 53%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

html {
  font-family: var(--ff);
  font-size: var(--fs);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 80%;
  max-width: 400px;
}

h1,
button {
  color: --white;
}

p,
span {
  color: var(--lightGrey);
}

img {
  display: block;
  max-width: 100%;
}

.attribution {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}
