* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs: 15px;
  /* PRIMARY COLORS */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --mx: 10%;
}

html {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: var(--fs);
}

body {
  min-width: 275px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

header {
  background: url(../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-color: var(--black);
  padding: 2.5rem var(--mx);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.logo-container > img {
  display: block;
  object-fit: cover;
}

/* LINKS */

.nav-link:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  padding: 0.5rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position:absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.5s ease, left 0.5s ease;
}

.nav-link:hover::before{
  left: 25%;
  width: 50%;
}

.nav-link.mobile {
  display: none;
  visibility: hidden;
}

/* HEADING TEXT IN HEADER */

.heading-container {
  border: 2px solid var(--white);
  padding: 1.6rem;
  width: 50%;
  margin: 2.1rem 0;
}

.heading-text {
  text-transform: uppercase;
  color: var(--white);
  font-size: 2.5rem;
}

/* MENU BUTTON */

.menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.3rem;
  display: none;
}

/* UTILITY CLASSES */

.hidden {
  display: none;
}




/* MEDIA QUERIES */

@media screen and (max-width: 675px) {
  
  :root {
    --mx: 5%;
    --fs: 12px;
  }

  header{
    height: 100vh;
  }

  .logo-container {
    z-index: 2;
  }
  .menu-btn {
    display: initial;
    z-index: 2;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: var(--mx);
    background-color: var(--black);
  }

  .nav-links.close {
    left: 100%;
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  /* HEADING TEXT */
  .heading-container {
    width: 100%;
    margin-top: 15rem;
  }

}