@media screen and (max-width: 1350px) {
    .main {
        margin: 0 auto 40px;
        padding: 0;
    }

    .main h1,
    .main p {
        text-align: center;
        margin-bottom: 15px;
    }

    .rates {
        flex-direction: row;
        margin: 0 auto;
        padding: 0;
    }

    .rate-box {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .rate-box p {
        text-align: center;
        margin-left: 0;
    }

    .rate-box:nth-child(2),
    .rate-box:last-child {
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
    }

    .testimonial-box {
        min-width: 300px;
    }

    .testimonial-box:nth-child(2),
    .testimonial-box:last-child {
        transition: transform 0.5s ease-in-out;
        transform: translateY(0);
    }
}

@media screen and (max-width: 375px) {
    .main h1 {
        padding: 0 50px;
        font-size: 2rem;
    }
    .main p {
        padding: 0 25px;
        margin: 0 auto;
    }
    .rates {
        padding-right: 0;
    }
    .rate-box {
        flex-direction: column;
        padding: 20px;
    }
}
