* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs: 15px;
  /* PRIMARY COLORS */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --mx: 10%;
}

html {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: var(--fs);
}

body {
  min-width: 275px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

button {
  background-color: transparent;
  border: none;
}

picture {
  display: block;
  height: 100%;
}

header {
  background: url(../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-color: var(--black);
  padding: 2.5rem var(--mx);
  height: 500px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.logo-container > img {
  display: block;
  object-fit: cover;
}

/* LINKS */

.nav-link:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  padding: 0.5rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.5s ease, left 0.5s ease;
}

.nav-link:hover::before {
  left: 25%;
  width: 50%;
}

.nav-link.mobile {
  display: none;
  visibility: hidden;
}

/* HEADING TEXT IN HEADER */

.heading-container {
  border: 2px solid var(--white);
  padding: 1.6rem;
  width: 50%;
  margin: 10rem 0;
}

.heading-text {
  text-transform: uppercase;
  color: var(--white);
  font-size: 2.5rem;
}

/* MENU BUTTON */

.menu-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.3rem;
  display: none;
}

/* ABOUT SECTION */

.about {
  padding: var(--mx);
  display: flex;
  align-items: flex-end;
}

.about > img {
  width: 100%;
  margin-right: -315px;
}

.about-text {
  padding: var(--mx);
  padding-bottom: 0;
  background-color: var(--white);
}

.about-text > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about-text > p {
  font-size: 0.7rem;
  color: var(--dark-gray);
}

/* CREATIONS SECTION */

.creations {
  margin: var(--mx);
}

.creations-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.creations-title > h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.creations-btn {
  border: 1px solid var(--black);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: var(--fs);
  cursor: pointer;
  width: 100px;
  transition: all 0.3s ease-in-out;
}

.creations-btn-mobile {
  display: none;
}

.creations-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.creation {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.creation picture {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.creation img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creation > h3 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.8rem;
  width: 80%;
  transition: color 0.3s ease-in-out;
}

.creation:hover {
  cursor: pointer;
}

.creation:hover > picture {
  opacity: 0.2;
}

.creation:hover > h3 {
  color: var(--black);
}

/* FOOTER */

.footer {
  background-color: var(--black);
  color: var(--white);
  height: 130px;
  display: flex;
  padding: 2.5rem var(--mx);
}

.footer > div {
  flex: 1;
}

.footer-left img {
  width: 100px;
  margin-bottom: 1rem;
}

.footer-left .nav-link {
  padding-left: 0;
}

.footer-right {
  text-align: right;
}

.social-links {
  margin-bottom: 1rem;
}

.social-link {
  display: inline-block;
  margin-left: 0.75rem;
  position: relative;
  width: 20px;
  height: 20px;
}

.social {
  width: 100%;
  display: block;
}

.social-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 50%;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}
.social-link:hover::before {
  width: 50%;
  left: 25%;
}

.rights {
  font-size: 0.8rem;
  color: var(--dark-gray);
}

/* UTILITY CLASSES */

.hidden {
  display: none;
}

/*------- MEDIA QUERIES ----------*/

@media screen and (max-width: 750px) {
  :root {
    --mx: 5%;
    --fs: 12px;
  }
  header {
    height: 100vh;
  }

  .logo-container {
    z-index: 2;
  }
  .menu-btn {
    display: initial;
    z-index: 2;
  }

  .navbar > .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: var(--mx);
    background-color: var(--black);
    transition: left 0.5s ease-in-out;
  }

  .navbar > .nav-links.close {
    left: 100%;
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    width: fit-content;
  }

  /* HEADING TEXT */
  .heading-container {
    width: 50%;
    margin-top: 25%;
  }

  /* ABOUT SECTION */

  .about {
    margin: 3rem 0;
    flex-direction: column;
    justify-content: center;
  }

  .about > img {
    width: 100%;
    margin: 0 auto;
  }

  .about-text {
    padding: 1rem;
    text-align: center;
  }
  .about-text > h2 {
    margin-top: 1rem;
  }

  .about-text > p {
    line-height: 1.6;
    margin: 0 1rem;
  }

  /* CREATIONS */

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .creation > h3 {
    bottom: 5%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .heading-container {
    width: 100%;
    margin-top: 50%;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .creations-title > h2 {
    width: 100%;
    text-align: center;
  }

  .creation {
    height: auto;
  }

  .creation img {
    object-fit: scale-down;
  }

  .creation > h3 {
    bottom: 10px;
    left: 10px;
    width: 50%;
  }

  .creations-btn {
    display: none;
  }

  .creations-btn-mobile {
    display: block;
    margin: 0 auto 20px;
  }

  .footer {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: auto;
  }

  .footer-left {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-left .nav-link {
    display: block;
    font-size: 0.8rem;
    margin: 0 auto;
    text-transform: capitalize;
  }

  .footer-right {
    text-align: center;
  }
}
